.weather {
    width: 20%;
    margin-right: 5%;
}

.weather__header {
    text-align: center;
}

.weather__content {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    /* height: calc(100% - 72px); */
    border-radius: 5px;
    text-align: center;
    padding: 15px 0;
}

.weather__paragraph {
    font-size: 20px;
}

.weather__paragraph:first-child {
    margin: 0;
}

.weather__paragraph:last-child {
    margin-bottom: 0;
}

.weather__icon {
    position: relative;
    top: 10px;
}