.todo__tasks {
    width: 90%;
    margin: 20px auto;
    margin-top: 0;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

    /* box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset; */
}

.modal-button {
    text-align: center;
    margin: 20px;
}

.modal-button__button {
    margin: 0 auto;
}